<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<!--<head th:replace="fragments/header :: header" />-->
    <head>
        <title>게시글 상세 페이지</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/js/file-upload-new.js"></script>
        <script src="/js/board-button.js"></script>
        <script th:inline="javascript">
            function save() {
                // form data 생성
                const formData = new FormData();

                const title = $("#title").val();
                const content = $("#content").val();
                const filesElement =$("#attachFiles")[0];
                const changeFilesValue = filesElement.getAttribute("change-files");

                formData.append("title", title);
                formData.append("content", content);
                if (changeFilesValue) {
                    if ($("#attachFiles")[0].files.length > 0) {
                        const attachFiles = $("#attachFiles")[0].files;
                        for (let i = 0; i < attachFiles.length; i++) {
                            formData.append("attachFiles", attachFiles[i]);
                            // console.log("attachFiles = ", attachFiles[i]);
                        }
                    }
                }
                const boardNo = [[${board.boardNo}]];
                $.ajax({
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    cache: false,
                    type:"POST",
                    url:"/Board/" + boardNo + "/view",
                    data:formData,
                    success:function (data){
                        console.log("data = ", data);
                        alert("수정 사항이 저장되었습니다.");

                        $("#saveButton").css("display","none");
                        $("#deleteButton").css("display", "none");
                        $("#editButton").removeAttr("style");


                        $("input[name='title']").attr("readonly", true);
                        $("textarea[name='content']").attr("readonly", true);
                        $("#attachFiles").css("display", "none");
                        $(".delete-link").hide();

                    },
                    error: function(xhr, status, error) {
                        alert(status + "=> 에러났어");
                        console.log(error);
                    }
                });
            }
        </script>
    </head>
    <body>
        <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
        <div class="container" style="padding-top: 30px; width: 70%">
            <!--    <div th:replace="fragments/bodyHeader :: bodyHeader"/>-->
            <!--    th:action="@{/Board/{boardNo}/view (boardNo=${board.boardNo}) }"-->
            <form th:id="update-form" th:object="${boards}" method="post" class = "row g-3 fw-bolder" enctype="multipart/form-data">
                <div class="form-group col-12">
                    <h3>
                <span th:if="${#strings.equals(board.getCategory().name(), 'FREE')}" class="form-control-plaintext" th:style="${'display:inline;'}"> 자유게시판</span>
                <span th:if="${#strings.equals(board.getCategory().name(), 'NOTICE')}" class="form-control-plaintext" th:style="${'display:inline;'}">공지사항</span>
                <span th:if="${#strings.equals(board.getCategory().name(), 'QNA')}" class="form-control-plaintext" th:style="${'display:inline;'}">Q&A</span>
                    </h3>
                </div>
                <div class="form-group col-12">
                    <label th:for="boardNo">게시글 번호</label>
                    <span th:id="${board.boardNo}" th:text="${board.boardNo}" class="form-control-plaintext" th:style="${'display:inline; margin-inline-start:5px'}"> </span>   <!--th:style="${'display:inline; margin-inline-start:5px'}"-->
                </div>
                <div class="form-group col-6">
                    <label th:for="regId">작성자</label>
                    <span th:text="${board.regId}" class="form-control-plaintext"  > 비어있음 </span>
                </div>
                <div class="form-group col-6">
                    <label th:for="regTime">작성일</label>
                    <span th:text="${#temporals.format(board.regTime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control-plaintext" > 비어있음 </span>
                </div>
                <div class="form-group col-6">
                    <label th:for="modId">최종수정자</label>
                    <span th:text="${board.modId}" class="form-control-plaintext" > 비어있음 </span>
                </div>
                <div class="form-group col-6">
                    <label th:for="modTime">최종수정일</label>
                    <span th:text="${#temporals.format(board.modTime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control-plaintext" > 비어있음 </span>
                </div>
                <div class="form-group col-12">
                    <label class="form-label" th:for="title">제목</label>
                    <input type="text" th:field="${board.title}"  class="form-control col-8" readonly>
                    <!--      <span th:text="${board.title}" class="form-control" >제목 없음 </span>-->
                </div>
                <div class="form-group col-12">
                    <label class="form-label" th:for="content">내용</label>
                    <textarea type="text" th:field="${board.content}"  class="form-control" readonly></textarea>
                    <!--      <span th:text="${board.content}" class="form-control" > 내용 없음 </span>-->
                </div>
                <div class="form-group col-12">
                    <label th:for="attachFiles">첨부파일</label>
                    <input type="file" id="attachFiles" name="attachFiles" multiple="multiple" class="form-control-file" th:style="${'display:none'}" />
                </div>
                <div class="form-group col-12" id="selectedFiles">
                    <ul>
                        <li th:each="file : ${board.files}">
                            <a th:href="@{/download/{id}(id=${file.id})}" th:text="${file.originalFileName}" th:id="file_+${file.id}"></a>
                            <a th:href="@{/delete/{id}(id=${file.id})}" th:text="x" th:style="${'color:red; display:none;'}" class="delete-link" th:id="${file.id}"></a>
                        </li>
                    </ul>
                </div>
                <div th:style="${'text-align: center'}">
                    <button type="button" class="btn btn-success col-auto" id="editButton" th:onclick="edit()"  th:style="${session.loginMember?.email == board.regId? 'display:inline-block' : 'display:none'}" >수정</button>
                    <button type="button" class="btn btn-success col-auto" id="saveButton" th:onclick="save()" style="display:none;">저장</button>
                    <button type="button" class="btn btn-danger col-auto" id="deleteButton" style="display:none;" th:onclick="'javascript:deleteBoard('+${board.boardNo}+')'" >삭제</button>
                    <!--    th:href="@{/Board/{boardNo}/edit (boardNo=${board.boardNo})}"-->
                    <button type="button" class="btn btn-warning col-auto" id="cancelButton" th:onclick="cancel()">목록</button>
                </div>
            </form>
            <br/>
        </div>
    </body>
</html>
