<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>게시판</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <script>
        // 추가할 조건 필드 생성
        function addFields() {

            // select 선택된 option 값 체크
            var selectedValues = [];

            // 새로운 select 태그 생성
            var selectClone = document.createElement('select');
            selectClone.className = 'form-select';
            selectClone.name = 'searchType';
            selectClone.style.width = '15%';
            selectClone.style.marginRight = '5px';
            selectClone.style.display = 'inline-block';

            // 모든 select box에서 선택된 값 리스트
            var selects = document.getElementsByClassName('form-select');
            for (var i = 0; i < selects.length; i++) {
                var select = selects[i];
                if (select.value !== "") {
                    selectedValues.push(select.value);
                }
            }

            // allOptions - 선택할 수 있는 모든 옵션
            var allOptions = [
                { value: 'title', text: '제목' },
                { value: 'content', text: '내용' },
                { value: 'regId', text: '글쓴이' }
            ];

            if(selects.length < allOptions.length){ // 태그 생성 횟수 제한
                for (var i = 0; i < allOptions.length; i++) {
                    var optionData = allOptions[i];
                    var optionValue = optionData.value;
                    var optionText = optionData.text;

                    // 선택된 값 체크 후 옵션 추가
                    if (selectedValues.indexOf(optionValue) === -1) { // not found
                        var option = document.createElement('option');
                        option.value = optionValue;
                        option.text = optionText;
                        selectClone.appendChild(option);
                    }
                }

                // 새로운 input 태그 생성
                var inputElement = document.createElement('input');
                inputElement.type = 'text';
                inputElement.className = 'form-control';
                inputElement.name = 'searchKeyword';
                inputElement.placeholder = '검색어를 입력해주세요';
                inputElement.style.width = '40%';
                inputElement.style.display = 'inline-block';

                // 새로운 div 태그 생성
                var divElement = document.createElement('div');
                divElement.className = 'additionalFieldsDiv';
                divElement.appendChild(selectClone);
                divElement.appendChild(inputElement);

                // 추가할 필드를 담을 컨테이너에 추가합니다
                var additionalFields = document.getElementById('additionalFields');
                additionalFields.appendChild(divElement);
                // additionalFields.appendChild(inputElement);

            }
        }
    </script>
    <body>
        <div class = "wrap">
            <div class="container"></div>
            <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
            <div class="container" th:style="${'text-align:center; padding-top:30px; width:70%'}">
                <a th:href="@{/}" class="btn btn-default fw-bolder">전체</a>
                <a th:href="@{/NOTICE}" class="btn btn-default fw-bolder">공지사항</a>
                <a th:href="@{/FREE}" class="btn btn-default fw-bolder">자유게시판</a> <!--fs-2-->
                <a th:href="@{/QNA}" class="btn btn-default fw-bolder">Q&A</a>
            </div>
            <div  class="container mainTableDiv"  style="padding-top: 30px; width: 70%; bottom: auto; position: initial;">
                <form th:action="@{/Board/search}" th:class="searchForm" method="get" class="form-inline"
                      style="border-top: 2px solid #ddd; background-color: ghostwhite;border-bottom: 2px solid #ddd;">
                    <select th:id="searchType" class="form-select" name="searchType" style="width:15%; margin-right: 5px; display:inline-block;" >
                        <option th:value="title">제목</option>
                        <option th:value="content">내용</option>
                        <option th:value="regId">글쓴이</option>
                    </select>
                    <input type="text" class="form-control" name="searchKeyword" placeholder="검색어를 입력해주세요" style="width:40%; display:inline-block;">
                    <button style="width:10%;float: right" type="submit" class="btn btn-primary" >검색</button>
                    <button style="width:10%;float: right" type="button" class="btn btn-success" onclick="addFields()">추가</button>
                    <!-- 동적 검색 필드 form 태그 안에 추가 -->
                    <div id="additionalFields" style="display:block;"></div>
                </form>
            </div>

            <div class="container mainTableDiv"  style="padding-top: 30px; width: 70%; bottom: auto; padding-bottom: 7em; position: initial;">
                <a class="btn btn-success"  th:href="@{/boards/new}" role="button" style="float: right;">새글 작성</a>
                <table class="table table-striped">
                    <colgroup>
                        <col style="width: 20%">
                        <col style="width: 50%">
                        <col style="width: 30%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>게시글</th>
                            <th>작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${boards}">
                            <td th:text="${item.boardNo}"></td>
                            <td> <a th:text="${item.title}" th:href="@{/Board/{boardNo}/view (boardNo=${item.boardNo})}"></a></td>
                            <td th:text="${item.regId}"></td>
                        </tr>
                    </tbody>
                </table>

                <nav style="text-align: center;">
                    <ul class="pagination justify-content-center" th:with="start=${T(java.lang.Math).floor(boards.number/10) * 10 + 1},
                            last=${start + 9 < boards.totalPages ? start + 9 : boards.totalPages}">
                        <li><span></span></li>
                        <li>
                            <a class="page-link" th:href="@{/{category}(category=${boardCat}, page=1)}" aria-label="First"
                                th:if="${#strings.isEmpty(param.searchType)}">
                                <span aria-hidden="true">First</span>
                            </a>
                            <a class="page-link" th:href="@{{category}/Board/search/(category=${boardCat}, page=1, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}" aria-label="First"
                                th:if="${not #strings.isEmpty(param.searchType)}" >
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>
                        <li th:class="${boards.first} ? 'disabled'">
                            <a class="page-link" th:href="@{/{category}(category=${boardCat}, page=${boards.number})}" href="#" aria-label="Previous"
                                th:if="${#strings.isEmpty(param.searchType)}">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                            <a class="page-link" th:href="@{{category}/Board/search/(category=${boardCat}, page=${boards.number}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}" href="#" aria-label="Previous"
                                th:if="${not #strings.isEmpty(param.searchType)}">
                                <span aria-hidden="true">&lt;&lt;</span>
                                <!--                        <span class="sr-only">Previous</span>-->
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boards.number + 1} ? 'active'">
                            <a class="page-link" th:text="${page}" th:href="@{/{category}(category=${boardCat},page=${page})}"
                                th:if="${#strings.isEmpty(param.searchType)}"></a>
                            <a class="page-link" th:text="${page}" th:href="@{{category}/Board/search/(category=${boardCat}, page=${page}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}"
                                th:if="${not #strings.isEmpty(param.searchType)}"></a>
                        </li>
                        <li th:class="${boards.last}? 'disabled'">
                            <a class="page-link" th:href="@{/{category}(category=${boardCat},page=${boards.number + 2}) }" href="#" aria-label="Next"
                                th:if="${#strings.isEmpty(param.searchType)}">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>

                            <a class="page-link" th:href="@{{category}/Board/search/(category=${boardCat},page=${boards.number + 2}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}" href="#" aria-label="Next"
                                th:if="${not #strings.isEmpty(param.searchType)}">
                                <span aria-hidden="true">&gt;&gt;</span>
                                <!--                        <span class="sr-only">Next</span>-->
                            </a>
                        </li>
                        <li>
                            <a class="page-link" th:href="@{/{category}(category=${boardCat}, page=${boards.totalPages})}" aria-label="Last"
                                th:if="${#strings.isEmpty(param.searchType)}">
                                <span aria-hidden="true">Last</span>
                            </a>
                            <a class="page-link" th:href="@{{category}/Board/search/(category=${boardCat}, page=${boards.totalPages}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}" aria-label="Last"
                                th:if="${not #strings.isEmpty(param.searchType)}">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </body>
</html>
